<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="https://www.kindpng.com/picc/m/485-4850258_bootstrap-logo-png-image-free-download-searchpng-logos.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Bootstrap
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" (click)="onConnectRoom('room1')" class="btn btn-secondary">Room1</button>
      <button type="button" (click)="onConnectRoom('room2')" class="btn btn-secondary">Room2</button>
      <button type="button" (click)="onConnectRoom('room3')" class="btn btn-secondary">Room3</button>
    </div>
  </a>
</nav>

<div class="container-fluid">
  <div class="row">
    <ul id="messages">
      <li *ngFor="let message of messages">{{ message }}</li>
    </ul>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <form>
        <div class="input-group">
          <input id="m" autocomplete="off" name="message" type="text" [(ngModel)]="val" class="form-control" placeholder="Message..." aria-label="Message...">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="submit" (click)="onSend()">Send</button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>